<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="database/Spring-Datasource.xml" />

	<bean id="categoryDAO" class="com.bbodenheimer.yucksnyums.dao.impl.JdbcCategoryDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="foodDAO" class="com.bbodenheimer.yucksnyums.dao.impl.JdbcFoodDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>